<div class='input-group-prepend'>
    <span class='input-group-text' style='width: 180px'>Resource Name</span>
    <input type='text' id='resourceName' class='form-control' name='resourceName'
           placeholder='e.g. ENACT Introduction'>
</div>
<br>
<div class='input-group-prepend'>
    <span class='input-group-text' style='width: 180px'>Description</span>
    <textarea type='text' class='form-control' name='resourceDescription' rows='4'
              placeholder='e.g. Detailed description'></textarea>
</div>
<br>
<!--hidden-->
<div class='input-group-prepend'>
    <span class='input-group-text' style='width: 180px'>URI</span>
    <input type='text' id='fileURL' class='form-control' name='uri'
           placeholder='e.g. URI'>
</div>
<br>
<div class='input-group-prepend'>
    <span class='input-group-text' style='width: 180px'>Content Type</span>
    <select class='form-control' name='contentType'>
        <option selected value='empty'>Choose...</option>
        <option value='Advocacy Video'>Advocacy Video</option>
        <option value='Assignment Guidelines'>Assignment Guidelines</option>
        <option value='Journal'>Campaign Journal</option>
        <option value='Course Reading'>Course Reading</option>
        <option value='Elevator Speech'>Elevator Speech</option>
        <option value='ENACT Research'>ENACT Faculty Research</option>
        <option value='Faculty Guide'>Faculty Guide</option>
        <option value='Flyer'>Flyer/handout</option>
        <option value='Next Steps'>Next Steps</option>
        <option value='Online'>Online Teaching Resources</option>
        <option value='Outlets'>Outlets for Publication</option>
        <option value='Op-Ed'>Op-Ed</option>
        <option value='Personal Reflection'>Personal reflection</option>
        <option value='Portfolio'>Portfolio</option>
        <option value='Presentations'>Presentations</option>
        <option value='Research Report'>Student Research Report</option>
        <option value='Rubrics'>Rubrics for grading</option>
        <option value='Script'>Script for meeting with Ways and Means Staff</option>
        <option value='State Legislative'>State Legislative Website Resources</option>
        <option value='Syllabus'>Syllabus</option>
        <option value='Handout'>Handout/Factsheet</option>
        <option value='Testimony'>Testimony</option>
    </select>
</div>
<br>
<div class='input-group-prepend'>
    <span class='input-group-text' style='width: 180px'>Media Type</span>
    <select class='form-control' name='mediaType'>
        <option selected value='empty'>Choose...</option>
        <option value='document'>Document</option>
        <option value='photo'>Photo</option>
        <option value='PowerPoint'>PowerPoint</option>
        <option value='video'>Video</option>
    </select>
</div>