<script src="/js/showDesc.js"></script>

<div class='input-group-prepend'>
    <span class='input-group-text' style='width: 180px'>Content Type</span>
    <select id="contentSelect" class='form-control' name='contentType'>
        <option selected value='empty'>Choose...</option>
        <option value='Student Advice'>Advice & Tips for Students by Students</option>
        <option value='Advocacy Video'>Advocacy Video</option>
        <option value='Journal'>Campaign Journal/Personal Reflections</option>
        <option value='Elevator Speech'>Elevator Speech</option>
        <option value='Flyer'>Fact Sheet/Storybook</option>
        <option value='Letter to Legislator'>Letter to the Legislator</option>
        <option value='Next Steps'>Next Steps</option>
        <option value='Outlets'>Outlets for Publication</option>
        <option value='Op-Ed'>Op-Ed</option>
        <option value='Personal Reflection'>Essays about ENACT</option>
        <option value='Portfolio'>Portfolio</option>
        <option value='Presentations'>Presentations</option>
        <option value='Research Report'>Student Research Report</option>
        <option value='Script'>Script for meeting with Ways and Means Staff</option>
        <option value='State Legislative'>State Legislative Website Resources</option>
        <option value='Testimony'>Testimony</option>
    </select>
</div>


<div class='toShowAll toShow-AV'>
    <h5 style="display: inline">
        <br>
        student-created short videos about issues/bills</h5>
    <br>
</div>
<div class='toShowAll toShow-CJ'>
    <h5 style="display: inline">
        <br>
        student reflections on legislative work
    </h5>
    <br>
</div>
<div class='toShowAll toShow-ES'>
    <h5 style="display: inline">
        <br>
        student-created 30-second pitch for bill
    </h5>
    <br>
</div>
<div class='toShowAll toShow-FS'>
    <h5 style="display: inline">
        <br>
        student-created issue-based handouts/ interviews
    </h5>
    <br>
</div>
<div class='toShowAll toShow-NS'>
    <h5 style="display: inline">
        <br>
        student recommendations/analysis of next steps for a bill/issue
    </h5>
    <br>
</div>
<div class='toShowAll toShow-OE'>
    <h5 style="display: inline">
        <br>
        published and unpublished op-eds
    </h5>
    <br>
</div>
<div class='toShowAll toShow-PR'>
    <h5 style="display: inline">
        <br>
        writing about the ENACT experience by participants
    </h5>
    <br>
</div>
<div class='toShowAll toShow-Po'>
    <h5 style="display: inline">
        <br>
        student-created legislative portfolios
    </h5>
    <br>
</div>
<div class='toShowAll toShow-Pr'>
    <h5 style="display: inline">
        <br>
        final “Present and Defend” presentations
    </h5>
    <br>
</div>
<div class='toShowAll toShow-SS'>
    <h5 style="display: inline">
        <br>
        student-created script on finances of bill/legislation
    </h5>
    <br>
</div>
<div class='toShowAll toShow-Te'>
    <h5 style="display: inline">
        <br>
        testimony delivered at a legislative hearing
    </h5>
    <br>
</div>

<br>
<div class='input-group-prepend'>
    <span class='input-group-text' style='width: 180px'>Resource Name</span>
    <input type='text' id='resourceName' class='form-control' name='resourceName'
           placeholder='e.g. ENACT Introduction'>
</div>
<br>
<div class='input-group-prepend'>
    <span class='input-group-text' style='width: 180px'>Description</span>
    <textarea type='text' class='form-control' name='description' rows='4'
              placeholder='e.g. Detailed description'></textarea>
</div>
<br>
<!--hidden-->
<div class='input-group-prepend'>
    <span class='input-group-text' style='width: 180px'>URI</span>
    <input type='text' id='fileURL' class='form-control' name='uri'
           placeholder='e.g. URI'>
</div>
<br>
<div class='input-group-prepend'>
    <span class='input-group-text' style='width: 180px'>Media Type</span>
    <select class='form-control' name='mediaType'>
        <option selected value='empty'>Choose...</option>
        <option value='document'>Document</option>
        <option value='photo'>Photo</option>
        <option value='PowerPoint'>PowerPoint</option>
        <option value='video'>Video</option>
    </select>
</div>