<div class="input-group-prepend">
    <span class="input-group-text" style="width: 180px">Resource Name</span>
    <input type="text" id="resourceName" class="form-control" name="resourceName"
           placeholder="e.g. ENACT Introduction">
</div>
<br>
<div class="input-group-prepend">
    <span class="input-group-text" style="width: 180px">Description</span>
    <textarea type="text" class="form-control" name="resourceDescription" rows="4"
              placeholder="e.g. Detailed description"></textarea>
</div>
<br>
<!--hidden-->
<div class="input-group-prepend">
    <span class="input-group-text" style="width: 180px">URI</span>
    <input type="text" id='fileURL' class="form-control" name="uri"
           placeholder="e.g. URI">
</div>
<br>
<div class="input-group-prepend">
    <span class="input-group-text" style="width: 180px">Resource Type</span>
    <select class="form-control" name="resourceType">
        <option selected value="null">Choose...</option>
        <option value="video">Video</option>
        <option value="document">Document</option>
        <option>...</option>
    </select>
</div>