<%
let tags = ['agriculture'
    , 'arts and culture'
    , 'cannabis'
    , 'consumer protection'
    , 'COVID-19'
    , 'criminal justice'
    , 'disability'
    , 'education'
    , 'elderly'
    , 'energy'
    , 'environment/climate change'
    , 'gun control'
    , 'healthcare'
    , 'higher education'
    , 'housing and homelessness'
    , 'immigration'
    , 'labor'
    , 'LGBTQ+'
    , 'mental health'
    , 'opioids'
    , 'public health'
    , 'public safety'
    , 'race'
    , 'substance use and recovery'
    , 'taxes'
    , 'technology'
    , 'tourism'
    , 'transportation'
    , 'veterans'
    , 'violence and sexual assault'
    , 'voting'
    , 'women and gender']

let syllabus = ['online course', 'course with internship content', 'full-semester course', 'half-semester course']
%>

<div class='toShow col-md-3 col-sm-12'></div>
<div class='toShow col-md-6 col-sm-12'>
    <h3 style="display: inline">Resource Topic(s)/Issue(s)</h3>
    <% if (loggedIn) { %>
        <button type='button' style="float: right" class='btn btn-sm btn-info' data-toggle='modal'
                data-target='#addTags'>
            Suggest a new topic/issue
        </button>
    <% } %>
    <hr>
</div>

<div class='modal fade' id='addTags' tabindex='-1' role='dialog'
     aria-labelledby='exampleModalLabel'
     aria-hidden='true'>
    <div class='modal-dialog modal-lg' role='document'>
        <form method='post' action='/tag/add'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='exampleModalLabel'>Suggesting a new resource topic/issue?</h5>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true'>&times;</span>
                    </button>
                </div>
                <div class='modal-body'>
                    <div class='row'>
                        <div class='col-md-12 col-sm-12'>
                            <div class='input-group-prepend'>
                                <span class='input-group-text' style='width: 180px'>Name</span>
                                <input type='text' id='addingTag' class='form-control' name='addingTag'
                                       placeholder='e.g. COVID-19'>
                            </div>
                            <br>
                            <div class='input-group-prepend'>
                                <span class='input-group-text' style='width: 180px'>Content type</span>
                                <select id='contentTypeSelect' class='form-control' name='contentType'>
                                    <option selected value='empty'>Choose...</option>
                                    <option value='Student Advice'>Advice & Tips for Students by Students</option>
                                    <option value='Advocacy Video'>Advocacy Video</option>
                                    <option value='Assignment Guidelines'>Assignment Guidelines & Rubrics</option>
                                    <option value='Journal'>Campaign Journal</option>
                                    <option value='Course Planning'>Course Planning</option>
                                    <option value='Course Reading'>Course Reading</option>
                                    <option value='Elevator Speech'>Elevator Speech</option>
                                    <option value='ENACT Research'>ENACT Faculty Research</option>
                                    <option value='Flyer'>Fact Sheet/Storybook</option>
                                    <option value='Letter to Legislator'>Letter to the Legislator</option>
                                    <option value='Next Steps'>Next Steps</option>
                                    <option value='Online'>Online Teaching Resources</option>
                                    <option value='Outlets'>Outlets for Publication</option>
                                    <option value='Op-Ed'>Op-Ed</option>
                                    <option value='Personal Reflection'>Personal reflection</option>
                                    <option value='Portfolio'>Portfolio</option>
                                    <option value='Presentations'>Presentations</option>
                                    <option value='Research Report'>Student Research Report</option>
                                    <option value='Script'>Script for meeting with Ways and Means Staff</option>
                                    <option value='State Legislative'>State Legislative Website Resources</option>
                                    <option value='Syllabus'>Syllabi</option>
                                    <option value='Testimony'>Testimony</option>
                                </select>
                            </div>
                            <br>
                            <div class='input-group-prepend'>
                                <span class='input-group-text' style='width: 180px'>Reason</span>
                                <textarea type='text' class='form-control' name='reason'
                                          rows='4'></textarea>
                            </div>
                            <br>
                            <h6>Note: your request will be processed by ENACT admin. </h6>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <input type='submit' name='submit' class='btn btn-outline-primary' value='Submit'>
                    <button type='button' id='closeBtn' class='btn btn-outline-secondary' data-dismiss='modal'>
                        Close
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class='w-100'></div>
<% for (let i = 0; i < tags.length;) { %>
    <div class='toShow col-md-3 col-sm-12'></div>
    <% for (let j = 0; i < tags.length && j < 2; i++, j++) { %>
        <div class='toShow col-md-3 col-sm-12 text-md-right'>
            <div class='input-group' style='padding-bottom: 10px'>
                <div class='input-group-prepend'>
                    <div class='input-group-text'>
                        <input class='checkbox-double' type='checkbox' value='<%= tags[i] %>'><br>
                    </div>
                </div>
                <input disabled type='text' class='form-control'
                       aria-label='Text input with checkbox' value='<%= tags[i] %>'>
            </div>
        </div>
    <% } %>
    <div class='w-100'></div>
<% } %>

<br>

<div class='toShow2 col-md-3 col-sm-12'></div>
<div class='toShow2 col-md-6 col-sm-12'>
    <h3 style="display: inline">Resource Topic(s)/Issue(s)</h3>
    <h5 style="display: inline">Help make our searching function more accurate</h5>
    <button type='button' style="float: right" class='btn btn-sm btn-info' data-toggle='modal' data-target='#addTags'>
        Suggest a new topic/issue
    </button>
    <hr>
</div>
<div class='w-100'></div>

<% for (let i = 0; i < syllabus.length;) { %>
    <div class='toShow2 col-md-3 col-sm-12'></div>
    <% for (let j = 0; i < syllabus.length && j < 2; i++, j++) { %>
        <div class='toShow2 col-md-3 col-sm-12 text-md-right'>
            <div class='input-group' style='padding-bottom: 10px'>
                <div class='input-group-prepend'>
                    <div class='input-group-text'>
                        <input class='checkbox-double' type='checkbox' value='<%= syllabus[i] %>'><br>
                    </div>
                </div>
                <input disabled type='text' class='form-control'
                       aria-label='Text input with checkbox' value='<%= syllabus[i] %>'>
            </div>
        </div>
    <% } %>
    <div class='w-100'></div>
<% } %>

<input hidden id='tagsToReturn' type='text' class='form-control' name='tags' value=''>

<script>
    $(document).ready(function () {
        let text = $('#contentSelect option:selected').text();
        if (text === 'Assignment Guidelines & Rubrics' || text === 'Course Reading' || text === 'ENACT Faculty Research' || text === 'Course Planning' || text === 'Online Teaching Resources' || text === 'Outlets for Publication' || text === 'Rubrics for grading' || text === 'State Legislative Website Resources') {
            $(".toShow").hide()
            $(".toShow2").hide()
        } else if (text === 'Syllabi') {
            $(".toShow2").show()
            $(".toShow").hide()
        } else {
            $(".toShow").show()
            $(".toShow2").hide()
        }
        $("#contentSelect").on("change", function () {
            text = $('#contentSelect option:selected').text();
            if (text === 'Assignment Guidelines & Rubrics' || text === 'Course Reading' || text === 'ENACT Faculty Research' || text === 'Course Planning' || text === 'Online Teaching Resources' || text === 'Outlets for Publication' || text === 'Rubrics for grading' || text === 'State Legislative Website Resources') {
                $(".toShow").hide()
                $(".toShow2").hide()
            } else if (text === 'Syllabi') {
                $(".toShow2").show()
                $(".toShow").hide()
            } else {
                $(".toShow").show()
                $(".toShow2").hide()
            }
        })
    })
</script>