<div class='input-group-prepend'>
    <span class='input-group-text' style='width: 180px'>Creation Year</span>
    <input type='text' class='form-control' name='yearOfCreation'
           placeholder='e.g. 2020'>
</div>