<%
let tags = ['agriculture'
    , 'arts and culture'
    , 'cannabis'
    , 'consumer protection'
    , 'COVID-19'
    , 'criminal justice'
    , 'disability'
    , 'education'
    , 'elderly'
    , 'energy'
    , 'environment/climate change'
    , 'gun control'
    , 'healthcare'
    , 'higher education'
    , 'housing and homelessness'
    , 'immigration'
    , 'labor'
    , 'LGBTQ+'
    , 'mental health'
    , 'opioids'
    , 'public health'
    , 'public safety'
    , 'race'
    , 'substance use and recovery'
    , 'taxes'
    , 'technology'
    , 'tourism'
    , 'transportation'
    , 'veterans'
    , 'violence and sexual assault'
    , 'voting'
    , 'women and gender']

let syllabus = ['online course', 'course with internship content', 'full-semester course', 'half-semester course']
%>

<div class='toShow col-md-3 col-sm-12'></div>
<div class='toShow col-md-6 col-sm-12'>
    <h3 style="display: inline">Area of the resource (Optional)</h3>
    <% if (loggedIn) { %>
        <button type='button' style="float: right" class='btn btn-sm btn-info' data-toggle='modal'
                data-target='#addTags'>
            Suggest a new area
        </button>
    <% } %>
    <hr>
</div>

<div class='w-100'></div>
<% for (let i = 0; i < tags.length;) { %>
    <div class='toShow col-md-3 col-sm-12'></div>
    <% for (let j = 0; i < tags.length && j < 2; i++, j++) { %>
        <div class='toShow col-md-3 col-sm-12 text-md-right'>
            <div class='input-group' style='padding-bottom: 10px'>
                <div class='input-group-prepend'>
                    <div class='input-group-text'>
                        <input class='checkbox-double' type='checkbox' value='<%= tags[i] %>'><br>
                    </div>
                </div>
                <input disabled type='text' class='form-control'
                       aria-label='Text input with checkbox' value='<%= tags[i] %>'>
            </div>
        </div>
    <% } %>
    <div class='w-100'></div>
<% } %>

<br>

<div class='toShow2 col-md-3 col-sm-12'></div>
<div class='toShow2 col-md-6 col-sm-12'>
    <h3 style="display: inline">Area of the resource (Optional)</h3>
    <button type='button' style="float: right" class='btn btn-sm btn-info' data-toggle='modal' data-target='#addTags'>
        Suggest a new area
    </button>
    <hr>
</div>
<div class='w-100'></div>

<% for (let i = 0; i < syllabus.length;) { %>
    <div class='toShow2 col-md-3 col-sm-12'></div>
    <% for (let j = 0; i < syllabus.length && j < 2; i++, j++) { %>
        <div class='toShow2 col-md-3 col-sm-12 text-md-right'>
            <div class='input-group' style='padding-bottom: 10px'>
                <div class='input-group-prepend'>
                    <div class='input-group-text'>
                        <input class='checkbox-double' type='checkbox' value='<%= syllabus[i] %>'><br>
                    </div>
                </div>
                <input disabled type='text' class='form-control'
                       aria-label='Text input with checkbox' value='<%= syllabus[i] %>'>
            </div>
        </div>
    <% } %>
    <div class='w-100'></div>
<% } %>

<input hidden id='tagsToReturn' type='text' class='form-control' name='tags' value=''>

<script>
    $(document).ready(function () {
        let text = $('#contentSelect option:selected').text();
        if (text === 'Assignment Guidelines & Rubrics' || text === 'Course Reading' || text === 'ENACT Faculty Research' || text === 'Course Planning' || text === 'Online Teaching Resources' || text === 'Outlets for Publication' || text === 'Rubrics for grading' || text === 'State Legislative Website Resources') {
            $(".toShow").hide()
            $(".toShow2").hide()
        } else if (text === 'Syllabi') {
            $(".toShow2").show()
            $(".toShow").hide()
        } else {
            $(".toShow").show()
            $(".toShow2").hide()
        }
        $("#contentSelect").on("change", function () {
            text = $('#contentSelect option:selected').text();
            if (text === 'Assignment Guidelines & Rubrics' || text === 'Course Reading' || text === 'ENACT Faculty Research' || text === 'Course Planning' || text === 'Online Teaching Resources' || text === 'Outlets for Publication' || text === 'Rubrics for grading' || text === 'State Legislative Website Resources') {
                $(".toShow").hide()
                $(".toShow2").hide()
            } else if (text === 'Syllabi') {
                $(".toShow2").show()
                $(".toShow").hide()
            } else {
                $(".toShow").show()
                $(".toShow2").hide()
            }
        })
    })
</script>