<div class="input-group-prepend">
    <span class="input-group-text" style="width: 180px">Institution</span>
    <input type="text" class="form-control" name="institution"
           placeholder="e.g. Brandeis University">
</div>