<footer class='footer' id='footer'>
    <div class='footer__content footer__content--fluid-width footer__content--svg'>
        <div class='container'>
            <div class='grid grid--5col'>
                <div class='grid__item grid__item--x2'>
                    <ul class='grid__list grid__list--fmenu'>
                        <li><h5>Copyright &copy: <%= new Date().getFullYear()%> ENACT </h5></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>

<script>
    // register jQuery extension
    jQuery.extend(jQuery.expr[':'], {
        focusable: function (el, index, selector) {
            return $(el).is('a, button, :input, [tabindex]');
        }
    });

    $(document).on('keypress', 'input,select', function (e) {
        if (e.which == 13 && document.getElementById('myBtn') === null) {
            e.preventDefault();
            // Get all focusable elements on the page
            let $canfocus = $(':focusable');
            let index = $canfocus.index(document.activeElement) + 1;
            if (index >= $canfocus.length) index = 0;
            $canfocus.eq(index).focus();
        }
    });
</script>