<script src='/js/menu.js'></script>

<script>
    AOS.init();
</script>

<header class='header'>
    <div class='header__content header__content--fluid-width'>
        <a class='header__logo-title' href='/'>
            <div class='card-body' style='background-color: transparent'>
                <div class='card-text'>
                    <img style='height: 70px; width: 70px'
                         src='https://www.brandeis.edu/ethics/images/enact/enactlogo.jpg'>
                </div>
            </div>
        </a>
        <nav class='header__menu'>
            <ul>
                <li>
                    <a class='header-link' id='header-link' href='/' data-aos='fade-left'>HOME</a>
                </li>
                <li>
                    <% if (!loggedIn) { %>
                        <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Resources</a>
                        <ul class='sub-menu'>
                            <li>
                                <a class='header-link' href='/resources/view/public/all'>Find some resources</a>
                            </li>

                        </ul>
                    <% } %>
                </li>

                <li>
                    <% if (!loggedIn) { %>
                        <a class='header-link' id='header-link' href='mailto:enact@brandeis.edu' data-aos='fade-left'>Contact
                            Us</a>
                    <% } else { %>
                    <% } %>
                </li>

                <li>
                    <% if (loggedIn) { %>
                        <a class='header-link' id='header-link' href='/courses' data-aos='fade-left'>Courses</a>
                        <ul class='sub-menu'>
                            <% for (let i = 0; i < courseInfoSet.length; i++) { %>
                                <li>
                                    <a class='header-link'
                                       href='/course/view/<%= courseInfoSet[i]._id %>'><%= courseInfoSet[i].courseName %></a>
                                </li>
                            <% } %>
                        </ul>
                    <% } %>
                </li>
                <li>
                    <% if (loggedIn) { %>
                        <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Resources</a>
                        <ul class='sub-menu'>
                            <li>
                                <a class='header-link' href='/resources/search/private/general'>Find some resources</a>
                            </li>
                            <% if (status === 'faculty' || status === 'admin') { %>
                                <li>
                                    <a class='header-link' href='/resource/upload/faculty'>Upload resources</a>
                                </li>
                            <% } %>
                            <li>
                                <a class='header-link' href='/resources/view/favorite'>My favorites</a>
                            </li>
                            <li>
                                <% if (status === 'faculty' || status === 'admin') { %>
                                    <a class='header-link' href='/resources/view/private'>My resources</a>
                                <% } else { %>
                                    <a class='header-link' href='/resources/view/private'>My resources</a>
                                <% } %>
                            </li>
                        </ul>
                    <% } %>
                </li>

                <li>
                    <% if (loggedIn) { %>
                        <a class='header-link' id='header-link' href='/messages/view/all'
                           data-aos='fade-left'>Messages</a>
                    <% } %>
                </li>

                <li>
                    <% if (loggedIn) { %>
                        <% if (status === 'admin' || status === 'faculty' ) { %>
                            <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Faculty</a>
                            <ul class='sub-menu'>
                                <li>
                                    <a class='header-link' href='/resources/view/faculty'>Faculty guide</a>
                                </li>
                                <li>
                                    <a class='header-link' href='/profiles/view/faculty'>Faculty list</a>
                                </li>
                                <li>
                                    <a class='header-link' href='/reviewResource'>Approve student resources</a>
                                </li>
                            </ul>
                        <% } else { %>
                            <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Faculty</a>
                            <ul class='sub-menu'>
                                <li>
                                    <a class='header-link' href='/profiles/view/faculty'>Faculty list</a>
                                </li>
                            </ul>
                        <% } %>
                    <% } %>
                </li>

                <li>
                    <% if (loggedIn) { %>
                        <% if (status === 'admin') { %>
                            <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Admin</a>
                            <ul class='sub-menu'>
                                <li>
                                    <a class='header-link' href='/managePublicResources'>Manage home page resources</a>
                                </li>
                                <li>
                                    <a class='header-link' href='/approvePublicResources'>Approve public resources</a>
                                </li>
                                <li>
                                    <a class='header-link' href='/approveTags'>Approve proposed new areas</a>
                                </li>
                                <li>
                                    <a class='header-link' href='/profiles/view/all'>View all profiles</a>
                                </li>
                                <li>
                                    <a class='header-link' href='/profiles/faculty/assign'>Set up a new faculty</a>
                                </li>

                            </ul>
                        <% } %>
                    <% } %>
                </li>

                <% if (loggedIn) { %>
                    <li>
                        <a class='header-link' id='header-link' href='#' data-aos='fade-left'>Settings</a>
                        <ul class='sub-menu'>
                            <li>
                                <a class='header-link' href='/profile/view/<%= user._id %>'>View/edit profile</a>
                            </li>
                        </ul>
                    </li>
                <% } %>

                <li class='header__btn header__btn--login'>
                    <% if (!loggedIn) { %>
                        <a class='btn btn-outline-dark' href='/login' data-aos='fade-left'>ENACT member login</a>
                    <% } else { %>
                        <a class='btn btn-outline-dark' href='/logout' data-aos='fade-left'>Logout</a>
                    <% } %>
                </li>
            </ul>
        </nav>
    </div>
</header>