<script src='/js/navbar.js'></script>

<script>
    AOS.init();
</script>

<header class='header'>
    <div class='header__content header__content--fluid-width'>
        <a class='header__logo-title' href='/'>
            <div class='card-body' style='background-color: transparent'>
                <div class='card-text'>
                    <img style='height: 70px; width: 70px'
                         src='/images/enact-logo.jpeg'>
                </div>
            </div>
        </a>
        <%- include('../components/navbar-common'); -%>
    </div>
</header>