<%- include('header'); -%>
<%- include('navbar'); -%>

<section class="section section--grey">
    <div class="section__content section__content--full-width">
        <div class="jumbotron masthead text-center">
            <div class="section__title section__title--centered">
                Create a new course
            </div>
        </div>
    </div>
</section>

<section class="section section--grey">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12"></div>
            <div class="col-md-4 col-sm-12">
                <% if (loggedIn) { %>
                    <form method="post" action="createNewCourse">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 40%">Course Name</span>
                            <input type="text" class="form-control" name="courseName" placeholder="e.g. Brandeis ENACT">
                        </div>
                        <br>
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 40%">Semester</span>
                            <input type="text" class="form-control" name="semester" placeholder="e.g. SPR2020">
                        </div>
                        <br>
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 40%">Institution</span>
                            <input type="text" class="form-control" name="institution"
                                   placeholder="e.g. Brandeis University">
                        </div>
                        <br>
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 40%">State</span>
                            <input type="text" class="form-control" name="state" placeholder="e.g. MA">
                        </div>
                        <br>
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 40%">Office Hour</span>
                            <input type="text" class="form-control" name="officeHour" placeholder="e.g. Mon 3pm - 5pm">
                        </div>
                        <br>
                        <input type="checkbox" name="norobot"> I am not a robot <br>
                        <input type="checkbox" name="robot"> I am a robot<br><br>
                        <input type="submit" name="submit" class="btn btn-outline-dark" value="Submit">
                    </form>
                <% } else { %>
                    <div class="text-center partners__text">
                        <h3>Please login to view this page</h3>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>


<%- include('footer'); -%>
