<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="IoVhiz_dfONkkTh5Al5cZ2LMG8046DkNCnYRn7aQS40"/>
    <!--    <script-->
    <!--            src="https://code.jquery.com/jquery-3.4.1.js"-->
    <!--            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="-->
    <!--            crossorigin="anonymous"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA75Zs3DlzVMkddr7bIQvqZwWJdakUs7vg&callback=initMap"></script> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--    <link rel="icon" href="/images/claster.png">-->
    <!--    <link rel="stylesheet" href="/stylesheets/swiper.css"></link>-->

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900" rel="stylesheet">
    <title>ENACT Digital Platform</title>
</head>
<body>
