<%- include('header'); -%>
<%- include('navbar'); -%>

<section class="section">
    <div class="section__content section__content--full-width">
        <div class="jumbotron masthead text-center">
            <div class="section__title section__title--centered">
                Course enrollment
            </div>
        </div>
    </div>
</section>

<section class="section section__grey">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12"></div>
            <div class="col-md-6 col-sm-12">
                <% if (loggedIn) { %>
                    <form method="post" action="joinCourse">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 180px">Course Pin</span>
                            <input type="text" class="form-control" style="margin-right: 10px" name="coursePin"
                                   placeholder="e.g. 7-digit number">
                            <input type="submit" name="submit" class="btn btn-outline-dark" value="Enroll">
                        </div>
                        <br>
                    </form>
                <% } else { %>
                    <div class="text-center partners__text">
                        <h3>Please login to view this page</h3>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>

<%- include('footer'); -%>
