<%- include('../../components/header'); -%>
<%- include('../../components/navbar'); -%>

<section class='section section__grey' data-aos='fade-up' style="height: 100%; padding-top: 8%">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h3 class="card-title text-center"><b>An error has occurred :(</h3>
                        <br>
                        <div class="card-text text-center" style="font-size: larger">

                            If you fail to <b>login</b>, you might want to <b>double check your email and password</b>
                            <br>

                            If you fail to <b>sign up</b>, the <b>email you used is already registered</b> in our
                            system <br><br>
                            You can try again here: <a class="header-link" href="/login">LOGIN</a>
                            <br>
                            You can reset your password here: <a class="header-link" href="/reset">RESET PASSWORD</a>
                            <br>
                            Or you may contact us for further assistance here: <a class='header-link'
                                                                                  href='/contact'
                                                                                  data-aos='fade-left'>CONTACT US</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../../components/footer'); -%>
