/*===============================================*/
/* Customized CSS--BOOTSTRAP
/*===============================================*/

#profiles {
    z-index: 21500000000 !important;
}

.ui-autocomplete {
    z-index: 21500000000 !important;
}

.box-padding {
    padding: 0 0 3px 10px
}

.rating.text-center:hover {
    color: #EEEEEE !important;
}

.checkedStar {
    color: orange;
}

.header__menu ul li a.header-link {
    color: black;
    border: 0;
}

.header__menu ul li > a.header-link:hover {
    color: #0053a4;
}

.container {
    max-width: 1300px;
    margin-top: -32px;
    padding-top: 30px;
    padding-bottom: 40px;
}

/*apply different width to different screen size*/
@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

.card-header {
    background-color: white;
}

/* input span and input area style */
.input-group-text {
    background-color: white;
}

.form-control:disabled {
    background-color: white;
}

/* profile pic style */
#profilePic {
    object-fit: cover;
    object-position: center;
    width: 40px;
    height: 40px;
}

.jumbotron.masthead {
    padding-top: 6.5%;
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
}

.diagonal-gradient {
    background: linear-gradient(to top left, black, #0053a4);
}

.card-body {
    background-color: white;
}

li.borderless {
    border-top: 0 none;
    border-right: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;
}

/*-----------------------------------------------------------------
[Table of Contents]
1. GENERAL
2. HEADINGS
    2.1 HEADER
3. SECTION
4. GRID
    4.1 GRID ELEMENTS
5. BUTTONS
6. CUSTOM SECTIONS
    6.1 CUSTOM SECTION - INTRO
    6.2 CUSTOM SECTION - ABOUT
    6.3 CUSTOM SECTION - FEATURES
    6.4 CUSTOM SECTION - PARTNERS
7. FOOTER
8. MEDIA QUERIES
*/

/*===============================================*/
/* 1. GENERAL		 						 */
/*===============================================*/
html, body {
    width: 100%;
    height: 100%;
}

body {
    /* font-family: 'Source Sans Pro', sans-serif; */
    padding: 0;
    font-size: 16px;
    margin: 0 auto;
    color: #1d1d1d;
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.clear {
    clear: both;
}

p {
    padding: 0;
    margin: 0;
    text-align: left;
    /* line-height:20px; */
}

blockquote {
    font-style: italic;
    font-size: 24px;
    padding: 0 5%;
    margin: 40px 0 60px 0;
    /* line-height:34px; */
    position: relative;
    text-align: center;
}

blockquote:after {
    content: ' ';
    position: absolute;
    display: block;
    width: 10%;
    margin: 20px 40%;
    border: 1px solid #e76b71;
}

a img {
    border: none;
}

a:hover {
    text-decoration: none;
    color: #0053a4;
}

img.responsive_image {
    max-width: 100%;
    display: block;
    margin: auto auto 20px auto;
}

/*---------------------------*/
/* 2-1. HEADINGS             */
/*---------------------------*/
/* h1, h2, h3, h4, h5, h6{
font-weight:700;
letter-spacing:-0.5px;
padding:0 0 40px 0;
margin:0;
} */
h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

/*===============================================*/
/* 2-2. HEADER 	 						 */
/*===============================================*/
/* BLOCK - header */
.header {
    /*background-color: white;*/
    width: 100%;
    height: 80px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

/* MODIFIER - header */
.header--sticky {
    background-color: white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.03);
}

/* ELEMENT - header__content */
.header__content {
    height: 80px;
}

/* ELEMENT MODIFIER - header__content */
.header__content--fix-width {
    width: 100%;
    padding-right: 8%;
    margin-left: 8%;
    clear: both;
}

.header__content--fluid-width {
    width: 80%;
    margin: auto;
    clear: both;
}

.header__logo-title {
    color: black;
    /*letter-spacing: -1px;*/
    position: relative;
    float: left;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 999;
}

.header__logo-title-1 {
    color: black;
    font-size: 16px;
    /*letter-spacing: -1px;*/
    position: relative;
    float: left;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 999;
}

.header__logo-title span {
    font-weight: 700;
}

/* ELEMENT - header__menu */
.header__menu {
    float: right;
}

.header__menu ul,
.header__menu ul li,
.header__menu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    float: left;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.header__menu:after,
.header__menu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.menu-button {
    width: 28px;
    height: 20px;
    position: absolute;
    padding: 0;
    font-size: 20px;
    top: 12px;
    right: 6%;
    z-index: 99999;
    display: none;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    -webkit-tap-highlight-color: transparent;
}

.menu-button:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 28px;
    height: 6px;
    z-index: 999;
    border-top: 1px double #000000;
    border-bottom: 1px solid #000000;
}

.header__menu > ul > li {
    display: inline-block;
    padding: 0;
}

.header__menu > ul > li > a {
    height: 80px;
    line-height: 80px;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 0 25px;
    margin: 0;
    font-weight: 400;
    overflow: hidden;
}

.header--sticky .header__menu > ul > li > a, .header--page .header__menu > ul > li > a {
    color: #000;
}

.header--sticky .menu-button, .menu-open .menu-button {
    /*border-bottom: 1px solid #000;*/
}

.header--sticky .menu-button:before, .menu-open .menu-button:before {
    color: black;
    border-bottom: 1px solid #000;
    border-top: 1px double #000;
}

.header__menu > ul > li.header__btn > a {
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header__menu > ul > li.header__btn--signup > a {
    color: #fff;
    background-color: #0053a4;
    padding: 0 22px;
    margin: 19px 0 0 25px;
    border: 1px #0053a4 solid;
}

.header__menu > ul > li.header__btn--login > a {
    /*background-color: black;*/
    color: black;
    padding: 0 22px;
    margin: 19px 0 0 25px;
    border: 1px black solid;
}

.header--sticky .header__menu > ul > li.header__btn--login > a, .menu-open .header__menu > ul > li.header__btn--login > a {
    color: #272b26;
    border: 1px #272b26 solid;
}

.header__menu ul li.header__btn--signup > a:hover {
    background: none;
    border: 1px #fff solid;
    color: #fff;
}

.header--sticky .header__menu ul li.header__btn--signup > a:hover, .menu-open .header__menu ul li.header__btn--signup > a:hover {
    background: none;
    border: 1px #0053a4 solid;
    color: #0053a4;
}

.header__menu ul li.header__btn--login > a:hover {
    background: none;
    border: 1px #0053a4 solid;
}

.header--sticky .header__menu ul li.header__btn--login > a:hover {
    background-color: darkblue;
    border: 1px #0053a4 solid;
    color: #0053a4;
}

.header__menu ul li a:hover, .header__menu ul li a.selected, .header__menu ul li a.active {
    color: #0053a4;
}

.header--sticky .header__menu ul li a:hover, .header--sticky .header__menu ul li a.selected, .header--sticky .header__menu ul li a.active {
    color: #0053a4;
}

.header__menu ul li.header__btn--signup a.active {
    color: #fff;
}

.header__menu ul li.header__btn--login a.active {
    color: #272b26;
}

.header__menu ul li:hover {
    cursor: pointer;
}

.header__menu > ul > li.menu-item-has-children > a {
    background: #ffffff no-repeat 90% 50%;
}

.header--sticky .header__menu > ul > li.menu-item-has-children > a {
    background: #000000 no-repeat 90% 50%;
}

.header__menu ul ul {
    position: absolute;
    left: 0;
    top: 55px;
    z-index: 9999;
    visibility: hidden;
    text-align: left;
    padding: 5px 0;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.10);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.10);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.header__menu ul ul.submenu-header-sticky {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.03);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
}

.header__menu li:hover > ul {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    top: 70px;
}

.header__menu ul ul ul {
    margin-left: 100%;
    top: 0;
}

.header__menu ul ul li a {
    width: 200px;
    padding: 0 15px;
    color: #231f20;
    border-bottom: 1px #f7f8f9 solid;
    margin: 0 10px;
    font-size: 14px;
    line-height: 45px;
    height: 45px;
}

.header__menu ul ul li a:hover {
    color: #272b26;
}

.header__menu ul ul li:last-child a {
    border-bottom: none;
}

/*===============================================*/
/* 3. SECTION 	 						 */
/*===============================================*/
/* BLOCK - section */
.section {
    width: 100%;
    height: auto;
    /*float: none;*/
    clear: both;
}

/* BLOCK MODIFIER - section--page */
.section--page-top {
    padding-top: 25%;
}

.section--page-bottom {
    padding-bottom: 80px;
}

/* ELEMENT - section__content */
.section__content {
    clear: both;
}

/* ELEMENT MODIFIER section__content  */
.section__content--fix-width {
    width: 1240px;
    margin: auto;
    clear: both;
}

.section__content--fluid-width {
    width: 80%;
    margin: auto;
    clear: both;
}

.section__content--full-width {
    margin: auto;
    clear: both;
}

.section__content--padding {
    padding-top: 100px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 100px;
}

.section__content--padding--small {
    padding-top: 0px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 100px;
}

/* ELEMENT - section__title */
.section__title {
    font-size: 48px;
    padding: 0 0 40px 0;
    font-weight: 700;
    line-height: 52px;
}

/* ELEMENT MODIFIER section__title  */
.section__title--centered {
    width: 100%;
    text-align: center;
    position: relative;
}

.section__title--centered:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    margin: auto;
    width: 50px;
    height: 1px;
    background: #454545;
}

/* ELEMENT - section__description */
.section__description {
    font-size: 18px;
    line-height: 32px;
}

/* ELEMENT MODIFIER section__description  */
.section__description--centered {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 0 0 80px 0;
}

/*===============================================*/
/* 4. GRID 	 						 */
/*===============================================*/

/* BLOCK - grid */
.grid {
    width: 100%;
    float: left;
    clear: both;
}

.grid__item--padding {
    background-color: #f7f8f9;
}

.grid__item--centering {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* -----------------------------------------------------  */
/* ELEMENT grid__item BASED ON BLOCK MODIFIER grid--2col  */
.grid--2col .grid__item {
    float: left;
    margin-right: 80px;
    margin-bottom: 80px;
    /* full width - space between cols / number of cols */
    width: calc((100% - 80px) / 2);
}

.grid--2col .grid__item--padding {
    /* full width - space between cols - padding * nr of paddings / number of cols */
    width: calc((100% - 80px - 20px * 4) / 2);
    padding: 20px;
}

.grid .grid__item:last-child,
.grid--2col .grid__item:nth-child(2n+2) {
    float: right;
    margin-right: 0;
}

/* -----------------------------------------------------  */
/* ELEMENT grid__item BASED ON BLOCK MODIFIER grid--3col  */
.grid--3col .grid__item {
    float: left;
    margin-right: 80px;
    /* margin-bottom:20px; */
    /* full width - space between cols * nr of inner spaces / number of cols */
    width: calc((100% - 80px * 2) / 3);
}

.grid--3col .grid__item.grid__item--padding {
    /* full width - space between cols * nr of inner spaces - padding * nr of paddings / number of cols */
    width: calc((100% - 80px * 2 - 20px * 6) / 3);
    padding: 20px;
}

.grid--3col .grid__item--x2 {
    /*(      one grid item    ) * 2 + space between cols */
    width: calc((((100% - 80px * 2) / 3) * 2) + 80px);
}

.grid--3col .grid__item--x2.grid__item--padding {

    /*   (    one grid item with padding  ) * 2 + space between cols + padding */
    width: calc((((100% - 80px * 2 - 20px * 6) / 3) * 2) + 80px + 20px * 2);
    padding: 20px;
}

.grid--3col .grid__item:nth-child(3n+3) {
    float: right;
    margin-right: 0;
}

/* -----------------------------------------------------  */
/* ELEMENT grid__item BASED ON BLOCK MODIFIER grid--4col  */
.grid--4col .grid__item {
    float: left;
    margin-right: 80px;
    margin-bottom: 30px;
    /* full width - space between cols * nr of inner spaces / number of cols */
    width: calc((100% - 80px * 3) / 4);
}

.grid--4col .grid__item.grid__item--padding {
    /* full width - space between cols * nr of inner spaces - padding * nr of paddings / number of cols */
    width: calc((100% - 80px * 3 - 20px * 8) / 4);
    padding: 20px;
}

.grid--4col .grid__item--x3 {
    /*(      one grid item    ) * 3 + space between cols */
    width: calc((((100% - 80px * 3) / 4) * 3) + 80px * 2);
}

.grid--4col .grid__item--x3.grid__item--padding {

    /*   (    one grid item with padding  ) * 3 + space between cols + padding */
    width: calc((((100% - 80px * 3 - 20px * 8) / 4) * 3) + 80px * 2 + 20px * 4);
    padding: 20px;
}

.grid--4col .grid__item:nth-child(4n+4) {
    float: right;
    margin-right: 0;
}

/* -----------------------------------------------------  */
/* ELEMENT grid__item BASED ON BLOCK MODIFIER grid--5col  */
.grid--5col .grid__item {
    float: left;
    margin-right: 80px;
    margin-bottom: 80px;
    /* full width - space between cols * nr of inner spaces / number of cols */
    width: calc((100% - 80px * 4) / 5);
}

.grid--5col .grid__item.grid__item--padding {
    /* full width - space between cols * nr of inner spaces - padding * nr of paddings / number of cols */
    width: calc((100% - 80px * 4 - 20px * 10) / 5);
    padding: 20px;
}

.grid--5col .grid__item--x2 {
    /*(      one grid item    ) * 2 + space between cols */
    width: calc((((100% - 80px * 4) / 5) * 2) + 80px);
}

.grid--5col .grid__item--x2.grid__item--padding {

    /*   (    one grid item with padding  ) * 2 + space between cols + padding */
    width: calc((((100% - 80px * 4 - 20px * 10) / 5) * 2) + 80px + 20px * 2);
    padding: 20px;
}

.grid--5col .grid__item--x3 {
    /*(      one grid item    ) * 3 + space between cols */
    width: calc((((100% - 80px * 4) / 5) * 3) + 80px * 2);
}

.grid--5col .grid__item--x3.grid__item--padding {

    /*   (    one grid item with padding  ) * 3 + space between cols + padding */
    width: calc((((100% - 80px * 4 - 20px * 10) / 5) * 3) + 80px * 2 + 20px * 4);
    padding: 20px;
}

.grid--5col .grid__item--x4 {
    /*(      one grid item    ) * 4 + space between cols */
    width: calc((((100% - 80px * 4) / 5) * 4) + 80px * 3);
}

.grid--5col .grid__item--x4.grid__item--padding {

    /*   (    one grid item with padding  ) * 4 + space between cols + padding */
    width: calc((((100% - 80px * 4 - 20px * 10) / 5) * 4) + 80px * 3 + 20px * 6);
    padding: 20px;
}

.grid--5col .grid__item:nth-child(5n+5) {
    float: right;
    margin-right: 0;
}

/* -----------------------------------------------------  */
/* ELEMENT grid__item BASED ON BLOCK MODIFIER grid--6col  */
.grid--6col .grid__item {
    float: left;
    margin-right: 80px;
    margin-bottom: 80px;
    /* full width - space between cols * nr of inner spaces / number of cols */
    width: calc((100% - 80px * 5) / 6);
}

.grid--6col .grid__item.grid__item--padding {
    /* full width - space between cols * nr of inner spaces - padding * nr of paddings / number of cols */
    width: calc((100% - 80px * 5 - 20px * 12) / 6);
    padding: 20px;
}

.grid--6col .grid__item--x2 {
    /*(      one grid item    ) * 2 + space between cols */
    width: calc((((100% - 80px * 5) / 6) * 2) + 80px);
}

.grid--6col .grid__item--x2.grid__item--padding {

    /*   (    one grid item with padding  ) * 2 + space between cols + padding */
    width: calc((((100% - 80px * 5 - 20px * 12) / 6) * 2) + 80px + 20px * 2);
    padding: 20px;
}

.grid--6col .grid__item--x3 {
    /*(      one grid item    ) * 3 + space between cols */
    width: calc((((100% - 80px * 5) / 6) * 3) + 80px * 2);
}

.grid--6col .grid__item--x3.grid__item--padding {

    /*   (    one grid item with padding  ) * 3 + space between cols + padding */
    width: calc((((100% - 80px * 5 - 20px * 12) / 6) * 3) + 80px * 2 + 20px * 4);
    padding: 20px;
}

.grid--6col .grid__item--x4 {
    /*(      one grid item    ) * 4 + space between cols */
    width: calc((((100% - 80px * 5) / 6) * 4) + 80px * 3);
}

.grid--6col .grid__item--x4.grid__item--padding {

    /*   (    one grid item with padding  ) * 4 + space between cols + padding */
    width: calc((((100% - 80px * 5 - 20px * 12) / 6) * 4) + 80px * 3 + 20px * 6);
    padding: 20px;
}

.grid--6col .grid__item--x5 {
    /*(      one grid item    ) * 5 + space between cols */
    width: calc((((100% - 80px * 5) / 6) * 5) + 80px * 4);
}

.grid--6col .grid__item--x5.grid__item--padding {

    /*   (    one grid item with padding  ) * 5 + space between cols + padding */
    width: calc((((100% - 80px * 5 - 20px * 12) / 6) * 5) + 80px * 4 + 20px * 8);
    padding: 20px;
}

.grid--6col .grid__item:nth-child(6n+6) {
    float: right;
    margin-right: 0;
}

.grid__item--floated-right {
    float: right !important;
    margin-right: 0 !important;
}

/*===============================================*/
/* 4.1 GRID ELEMENTS   */
/*===============================================*/

/* ELEMENT  grid__title  */
/* --------------------  */
.grid__title {
    font-size: 24px;
    font-weight: 400;
    padding: 0 0 20px 0;
    margin: 3%;
}

.grid__title span {
    font-weight: 700;
}

/* ELEMENT  grid__text  */
/* --------------------  */
.grid__text {
    padding-bottom: 10px;
    line-height: 23px;
    margin: 3%;
}

.grid__text span {
    font-weight: 700;
}

/* ELEMENT  grid__more  */
/* --------------------  */
.grid__more {
    font-weight: 400;
    font-size: 14px;
    padding: 0 0 0 0;
    display: inline-block;
}

/* ELEMENT grid__list  */
/* --------------------  */
.grid__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.grid__list li {
    list-style: none;
    padding: 5px 0;
    margin: 0;
    line-height: 22px;
}

/* ELEMENT grid__image  */
/* --------------------  */
.grid__image {
    width: 100%;
}

.grid__image img {
    display: block;
    max-width: 100%;
}

.grid__image--right img {
    float: right;
}

.grid__image--left img {
    float: left;
}

/*===============================================*/
/*  5. BUTTONS	 			 */
/*===============================================*/
.btn {
    /* padding:12px 40px; */
    /* margin:0 20px 0 0; */
    font-size: 16px;
    letter-spacing: 1px;
    /* font-weight:400; */
    /* -webkit-border-radius: 25px; */
    /* -moz-border-radius: 25px; */
    border-radius: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*===============================================*/
/*  6. CUSTOM SECTION	 			 */
/*===============================================*/

/*===============================================*/
/*  6.1 CUSTOM SECTION - INTRO	 			 */
/*===============================================*/
.section--intro {
    width: 100%;
    height: 96%;
    position: relative;
    overflow: hidden;
    background: url("../images/Photos for ENACT platform slideshow/Smith_Danley_Quinn.jpg");
    background-size: cover;
    margin-top: 80px;
}

.section__content--intro {
    height: 100%;
}

.intro {
    width: 100%;
    /*float: ;*/
    padding: 10% 0 0 0;
    position: relative;
    z-index: 777;
}

.intro__content {
    margin-top: 15%;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
    background: black;
}

.intro__title {
    padding: 0 0 35px 0;
    color: #272b26;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -1px;
}

.intro__title span {
    font-weight: 700;
}

.intro__subtitle {
    padding: 0 0 20px 0;
    font-size: 35px;
    line-height: 32px;
    color: #757e71;
    letter-spacing: 0;
}

.intro__description {
    padding: 0 0 40px 0;
    font-size: 20px;
    color: #0053a4;
}

.intro__description span {
    font-weight: 700;
}

.intro__buttons {
    padding: 20px 0 0 0;
}

.intro__buttons--centered {
    width: 100%;
    clear: both;
    text-align: center;
}

.intro__buttons--left {
    width: 100%;
    clear: both;
    text-align: left;
}

.intro__form {
    width: 80%;
    background-color: #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding: 3px;
    float: left;
    clear: both;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.form-demo__input {
    width: 64%;
    float: left;
    height: 20px;
    padding: 10px 3%;
    font-size: 18px;
    color: #7f7f7f;
    font-weight: 300;
    border: none;
    background: none;
    -webkit-appearance: none;
}

.form-demo__input::-webkit-input-placeholder {
    color: #c6c6c6;
}

.form-demo__input::-moz-placeholder {
    color: #c6c6c6;
}

.form-demo__input:-ms-input-placeholder {
    color: #c6c6c6;
}

.form-demo__input:-moz-placeholder {
    color: #c6c6c6;
}

.form-demo__large {
    margin: 10px;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    width: 300px;
    /*float: left;*/
    background-color: #fff;
    border: 1px solid #fff;
    height: 63px;
    line-height: 61px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    color: #000;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-demo__large:hover {
    background-color: #f7f8f9;
    border: 1px solid #fff;
    color: #000;
}

.form-demo__login {
    width: 300px;
    /*float: left;*/
    background-color: #000;
    border: 1px solid #fff;
    height: 63px;
    line-height: 61px;
    font-size: 18px;
    letter-spacing: 0.5px;
    cursor: pointer;
    color: #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-demo__login:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}


.form-demo__classCode {
    margin-bottom: 12px;
    width: 200px;
    /*float: left;*/
    background-color: #000000;
    border: 1px solid #fff;
    height: 42px;
    line-height: 41px;
    font-size: 15px;
    letter-spacing: 0;
    cursor: pointer;
    color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-demo__classCode:hover {
    background-color: #fff;
    border: 1px solid #000000;
    color: #000000;
}

.form-demo__forumEntry {
    margin-bottom: 10px;
    width: 150px;
    /*float: left;*/
    background-color: #0053a4;
    border: 1px solid #fff;
    height: 42px;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-demo__forumEntry:hover {
    background-color: #fff;
    border: 1px solid #0053a4;
    color: #0053a4;
}

svg.svg-intro-bottom {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 111;
}

.intro-animation {
    width: 55%;
    height: 75%;
    float: right;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: -10%;
    z-index: 222;
}

.intro-animation img {
    display: block;
    margin: auto;
    max-width: 100%;
    opacity: 0;
    animation: .8s ease-out 0s 1 slideInFromBottom;
    -webkit-animation: .8s ease-out 0s 1 slideInFromBottom;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideInFromBottom {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}


/*===============================================*/
/*  6.2 CUSTOM SECTION - ABOUT	 			 */
/*===============================================*/
.section__content--about {
    padding: 100px 0 0 0;
}

.grid--about .grid__item {
    margin-bottom: 0;
}

.grid--about .grid__item--floated-right {
    margin-left: 80px;
}

.grid--about .grid__title {
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    padding: 0 0 40px 0;
    margin: 0;
    position: relative;
}

.grid--about .grid__text {
    font-size: 18px;
    color: #848484;
    line-height: 26px;
}

.grid--about .grid__list {
    padding: 20px 0 0 0;
}

.grid--about .grid__list li {
    background: #ffffff no-repeat 0 50%;
    font-size: 18px;
    padding: 10px 0 10px 40px;
}

/*===============================================*/
/*  6.3 CUSTOM SECTION - FEATURES	 			 */
/*===============================================*/
.section--features {
    padding: 0 0 80px 0;
}

.section--more-features {
    padding: 80px 0;
}

.grid--features .grid__item {
    margin-right: 60px;
    margin-bottom: 0;
    width: 21%;
    padding: 30px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.grid--more-features .grid__item {
    margin-right: 40px;
    margin-bottom: 40px;
    width: calc((100% - 40px * 4 - 20px * 10) / 5);
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.grid--features .grid__item--featured {
    background-color: #0053a4;
    background: -webkit-linear-gradient(60deg, #655afe, #a66bff);
    background: linear-gradient(60deg, #655afe, #a66bff);
    color: #fff;
}

.grid--features .grid__item:hover {
    transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
}

.grid--features .grid__item .grid__title {
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0 20px 0;
    margin: 0;
    color: #0053a4;
}

.grid--more-features .grid__item .grid__title {
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0 20px 0;
    margin: 0;
}

.grid--features .grid__item--featured .grid__title {
    color: #fff;
}

.grid--features .grid__item .grid__title span, .grid--more-features .grid__item .grid__title span {
    font-weight: 300;
    color: #000;
}

.grid--features .grid__item--featured .grid__title span {
    color: #fff;
}

.grid--features .grid__icon {
    float: right;
}

.grid--features .grid__icon img {
    display: block;
    margin: auto;
}

.grid--features .grid__text {
    text-align: left;
}

/*===============================================*/
/*  6.4 CUSTOM SECTION - partners 			 */
/*===============================================*/
.section__grey {
    background-color: #f7f8f9;
}

.partners {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0 0 100px 0;
}

.partners__slide {
    /*text-align: center;*/
    width: 30%;
    float: left;
    /*padding: 15px 0;*/
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.02);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 30px;
}

.partners__slide__grey {
    /*text-align: center;*/
    width: 30%;
    float: left;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.02);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 30px;
}

.partners__thumb {
    padding: 0 0 20px 0;
}

.partners__thumb img {
    width: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: auto;
}

.partners__text {
    width: 80%;
    margin: auto;
}

.partners__text p {
    padding: 0 0 40px 0;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.partners__source {
    font-weight: 300;
    font-size: 22px;
    padding: 0 0 40px 0;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #989898;
}

.partners__source a {
    color: #a66bff;
    display: block;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.partners__source a:hover {
    color: #0053a4;
}

.partners__pagination {
    width: 100%;
    text-align: center;
    bottom: 0 !important;
    z-index: 999 !important;
}

.partners__pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: #0053a4;
    opacity: 0.2;
}

.partners__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #0053a4;
}

/*===============================================*/
/*  7. FOOTER 	 						 */
/*===============================================*/
/* BLOCK - footer */
.footer {
    width: 100%;
    height: 10%;
    float: left;
    clear: both;
    background-color: #FFFFFF;
    position: relative;
}

/* ELEMENT - footer__content */
.footer__content {
    clear: both;
}

/* ELEMENT MODIFIER footer__content  */
.footer__content--fix-width {
    width: 1240px;
    margin: auto;
    clear: both;
}

.footer__content--fluid-width {
    width: 80%;
    margin: auto;
    clear: both;
}

.footer__content--padding {
    padding: 100px 0;
}

.footer__content--svg {
    padding-top: 100px;
}

.grid__title--footer-logo {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
}

.grid__title--footer-logo span {
    font-weight: 700;
}

.grid__title--footer {
    font-size: 20px;
    font-weight: 700;
}

.grid__text--copyright {
    color: #838383;
    line-height: 22px;
}

ul.grid__list--sicons {
    margin: 20px 0 0 0;
}

ul.grid__list--sicons li {
    display: inline-block;
    margin: 0 20px 0 0;
}

ul.grid__list--sicons li a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

ul.grid__list--sicons li a img {
    display: block;
    width: 25px;
}

ul.grid__list--sicons li a:hover {
    opacity: .5;
}

ul.grid__list--fmenu li a {
    display: inline-block;
    color: #000000;
    text-decoration: none;
}

ul.grid__list--fmenu li a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #0053a4;
    transition: width .3s;
}

ul.grid__list--fmenu li a:hover::after {
    width: 100%;
}

ul.grid__list--fmenu li a:hover {
    color: #0053a4;
}

/*===============================================*/
/* 8. MEDIA QUERIES   			 */
/*===============================================*/
/*===============================================*/
/* Laptops max 1400 px		 */
/*===============================================*/
@media screen and (max-width: 1400px) {
    .header__content--fix-width, .section__content--fix-width, .footer__content--fix-width, .header__content--fluid-width, .section__content--fluid-width, .footer__content--fluid-width {
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
    }

    .menu-button {
        right: 2%;
    }

    .intro {
        width: 100%;
    }

    svg.svg-intro-bottom {
        height: 70%;
    }

}

/*===============================================*/
/*Tablets and Mobile - Portrait - max 1024 px */
/*===============================================*/
@media screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }

    p {
        line-height: 22px;
    }

    .menu-button {
        top: 20px;
    }

    .jumbotron.masthead {
        padding-top: 20% !important;
    }

    /*  MENU 	 */
    /*---------------*/
    .menu-open {
        height: 100% !important;
        overflow-y: scroll;
        background-color: #fff;
    }

    .header__menu {
        width: 100%;
        height: 100%;
        float: left;
        clear: both;
        margin: 40px 0 0 0;
    }

    .header__menu ul {
        width: 100%;
        display: none;
        text-align: left;
        background-color: #fff;

    }

    .header__menu ul li {
        width: 100%;
    }

    .header__menu ul li, .header__menu ul ul li a, .header__menu ul ul ul li a, .header__menu ul ul ul li:last-child a {
        border-bottom: 1px #ebeced solid;
    }

    .header__menu ul li a {
        width: 100%;
        font-size: 13px;
        line-height: 40px;
        height: auto;
        margin: 0;
        padding: 0 35px;
        color: #000;
    }

    .header__menu > ul > li {
        float: none;

    }

    .header__menu ul ul li a {
        margin: 0 0 0 0;
        padding: 0 0 0 15%;
        width: 100%;
        height: auto;
    }

    .header__menu > ul > li.header__btn--signup > a {
        width: 80%;
        height: 35px;
        line-height: 35px;
        padding: 0 5%;
        margin: 5px 0 5px 10%;
        text-align: center;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }

    .header__menu > ul > li.header__btn--login > a {
        width: 80%;
        height: 40px;
        line-height: 40px;
        padding: 0 5%;
        margin: 5px 0 5px 10%;
        text-align: center;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }

    .header__menu ul ul li:first-child a {
        border-top: 1px #ebeced solid;
    }

    .header__menu ul ul li:last-child a {
        border-bottom: none;
    }

    .header__menu ul ul ul li a {
        margin: 0 0 0 0;
        padding: 0 0 10px 0;

    }

    .header__menu ul ul, .header__menu ul ul ul {
        position: relative;
        left: 0;
        width: 100%;
        padding: 0;
        top: 0;
        border-top: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background: none;
        transition: none;
        visibility: visible;
        opacity: 1;
    }

    .header__menu ul ul.submenu-header-sticky {
        background-color: #fff;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .header__menu ul ul li, .header__menu ul ul ul li {
        border-bottom: none;
    }

    .header__menu li:hover > ul {
        transition: none;
        visibility: visible;
        top: auto;
    }

    .menu-button {
        display: block;
    }

    .header__menu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        height: 38px;
        width: 50px;
        cursor: pointer;
        border-left: 1px solid #ebeced;
        background-color: #fff;
    }

    .header__menu ul ul .submenu-button {
        height: 35px;
        width: 35px;
    }

    .header__menu .submenu-button:after {
        content: '';
        position: absolute;
        top: 17px;
        left: 17px;
        display: block;
        width: 0;
        padding: 0;
        border: 5px solid transparent;
        border-top-color: #000;
    }

    .header__menu ul ul .submenu-button:after {
        border-width: 4px;
        left: 14px;
        top: 12px;
    }

    .header__menu .submenu-button.submenu-opened:after {
        top: 12px;
        border-top-color: transparent;
        border-bottom-color: #000;
    }

    .header__menu ul ul .submenu-button.submenu-opened:after {
        top: 10px;
    }


    /*       SECTION 	   */
    /*=====================*/
    .section--page-top {
        padding-top: 40px;
    }

    .section--page-bottom {
        padding-bottom: 40px;
    }

    .section__content--padding {
        padding: 50px 0;
    }

    .section__title {
        font-size: 28px;
    }

    .section__description {
        font-size: 14px;
        line-height: 26px;
    }

    .section__description--centered {
        width: 80%;
        padding: 0 0 40px 0;
    }

    /*       GRID 	   */
    /*=====================*/
    .grid--2col .grid__item, .grid--3col .grid__item, .grid--4col .grid__item, .grid--5col .grid__item, .grid--6col .grid__item {
        margin-right: 0;
        margin-bottom: 40px;
        width: 100%;
    }

    .grid--3col .grid__item--x2, .grid--4col .grid__item--x3, .grid--5col .grid__item--x2, .grid--5col .grid__item--x3, .grid--5col .grid__item--x4, .grid--6col .grid__item--x2, .grid--6col .grid__item--x3, .grid--6col .grid__item--x4, .grid--6col .grid__item--x5 {
        width: 100%;
    }

    .grid--2col .grid__item--padding, .grid--3col .grid__item.grid__item--padding, .grid--3col .grid__item--x2.grid__item--padding, .grid--4col .grid__item.grid__item--padding, .grid--4col .grid__item--x3.grid__item--padding, .grid--5col .grid__item.grid__item--padding, .grid--5col .grid__item--x2.grid__item--padding, .grid--5col .grid__item--x3.grid__item--padding, .grid--5col .grid__item--x4.grid__item--padding, .grid--6col .grid__item.grid__item--padding, .grid--6col .grid__item--x2.grid__item--padding, .grid--6col .grid__item--x3.grid__item--padding, .grid--6col .grid__item--x4.grid__item--padding, .grid--6col .grid__item--x5.grid__item--padding {
        width: calc(100% - 20px * 2);
        padding: 20px;
    }

    .grid__title {
        font-size: 18px;
    }

    .grid__text {
        padding-bottom: 20px;
        line-height: 22px;
    }

    /*       FOOTER 	   */
    /*=====================*/
    .footer__content {
        padding-top: 50px;
    }

    ul.grid__list--fmenu li {
        display: block;
        float: left;
        margin: 0 20px 10px 0;
    }

    /*  INTRO 	 */
    /*---------------*/
    .intro {
        width: 100%;
        padding: 20% 0 0 0;
    }

    .intro__title {
        padding: 0 0 40px 0;
        font-size: 80px;
        line-height: 88px;
        text-align: center;
    }

    .intro__subtitle {
        font-size: 38px;
        line-height: 32px;
        padding: 0 15% 20px 15%;
        text-align: center;
    }

    .intro__description {
        font-size: 20px;
        padding: 0 0 40px 0;
        text-align: center;
    }

    .intro__buttons--left {
        text-align: center;
    }

    .intro__buttons {
        padding: 40px 0 0 0;
    }

    svg.svg-intro-bottom {
        height: 30%;
    }

    .intro-animation {
        width: 90%;
        height: 35%;
        float: left;
        text-align: right;
        position: absolute;
        bottom: 0;
        left: 5%;
        z-index: 222;
    }

    .intro-animation img {
        max-width: 100%;
    }

    .intro__form {
        width: 99%;
    }

    /*  ABOUT 	 */
    /*---------------*/
    .section__content--about {
        padding: 30px 0;
    }

    .grid--about .grid__item {
        margin-bottom: 30px;
    }

    .grid--about .grid__title {
        font-size: 28px;
        line-height: 36px;
    }

    .grid--about .grid__text {
        font-size: 16px;
        line-height: 24px;
    }

    /*  FEATURES 	 */
    /*---------------*/
    .section__content--features {
        padding: 40px 0 20px 0;
    }

    .section--features {
        padding: 0 0 40px 0;
    }

    /*  partners 	 */
    /*---------------*/
    .partners {
        margin: 0;
        padding: 40px 0 80px 0;
    }

    .partners__slide {
        /*text-align: center;*/
        width: 100%;
        float: left;
    }

    .partners__text p {
        padding: 0 0 20px 0;
        font-size: 14px;
        line-height: 22px;
    }

    .partners__source {
        font-weight: 700;
        font-size: 12px;
    }

    .partners__source a {
        padding: 0 5px;
    }

    /*  CONTACT 	 */
    /*---------------*/
    .grid--contact {
        display: block;
    }

    .grid--contact .grid__item, .grid--6col .grid__item {
        margin-bottom: 0 !important;
    }

    .grid__form {
        width: 90%;
        padding: 0 5%;
        position: relative;
    }

    .form__submit {
        margin: 40px 0 0 0;
    }

    .svg-form-left {
        display: none;
    }

    /*  Modal	 */
    /*---------------*/
    .section__content--support {
        background: none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .grid--support {
        width: 100%;
        display: block;
    }

    .grid--support .grid__item.grid__item--padding {
        background: none;
        width: 90%;
        padding: 5%;
        text-align: center;
    }

    .grid--support .grid__more {
        float: none;
    }

    .grid--features .grid__item, .grid--more-features .grid__item {
        margin-right: 0;
        margin-bottom: 40px;
        width: 90%;
        padding: 5%;
    }

}

/*===============================================*/
/* Tablets Landscape */
/*===============================================*/
@media screen and (max-width: 1024px) and (orientation: landscape) {
    /*  INTRO 	 */
    /*---------------*/
    .intro {
        padding: 12% 0 0 0;
    }

    .intro__title {
        font-size: 50px;
        line-height: 58px;
    }

    .intro__subtitle {
        font-size: 20px;
        line-height: 24px;
        padding: 0 5% 20px 5%;
    }
}

/*===============================================*/
/* Mobile  800	  					 */
/*===============================================*/
@media screen and (max-width: 800px) {
    .header__content--fix-width, .section__content--fix-width, .footer__content--fix-width, .header__content--fluid-width, .section__content--fluid-width, .footer__content--fluid-width {
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
    }

    .header {
        height: 70px;
    }

    .section--intro {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        background: url("https://upload.wikimedia.org/wikipedia/commons/f/f7/Louis_Brandeis_statue_by_Robert_Berks.jpg");
        background-size: cover;
        margin-top: 70px;
    }

    .header__content {
        height: 50px;
    }

    .jumbotron.masthead {
        padding-top: 20% !important;
    }

    .menu-button {
        right: 2%;
        top: 10px;
    }

    .intro {
        padding: 25% 0 0 0;
    }

    .header__logo-title {
        font-size: 20px;
    }

    .header__logo-title-1 {
        display: none;
        font-size: 20px;
    }

    .intro__title {
        font-size: 60px;
        line-height: 68px;
    }

    .intro__subtitle {
        font-size: 22px;
        padding: 0 15% 20px 15%;
        line-height: 28px;
    }

    .intro__description {
        font-size: 16px;
        padding: 0 0 20px 0;
    }

}

/*===============================================*/
/* Mobile Landscape max  800  					 */
/*===============================================*/
@media screen and (max-width: 800px) and (orientation: landscape) {
    .intro {
        padding: 10% 0 0 0;
    }

    .intro__title {
        font-size: 32px;
        line-height: 38px;
        padding: 0 0 10px 0;
    }

    .jumbotron.masthead {
        padding-top: 20% !important;
    }

    .intro__subtitle {
        font-size: 16px;
        padding: 0 5% 10px 5%;
        line-height: 22px;
    }

    .intro__description {
        font-size: 12px;
        padding: 0;
    }
}

/*===============================================*/
/* Smaller Mobile  680	  					 */
/*===============================================*/
@media screen and (max-width: 680px) {
    .intro__title {
        font-size: 30px;
        line-height: 34px;
        padding: 0 0 20px 0;
    }

    .intro__subtitle {
        font-size: 24px;
        padding: 0 5% 10px 5%;
        line-height: 22px;
    }

    .jumbotron.masthead {
        padding-top: 20% !important;
    }

    .intro__description {
        font-size: 12px;
        padding: 0 0 40px 0;
    }

    .btn--play {
        padding-right: 40px;
    }
}

/*===============================================*/
/* Smaller Mobile Portrait max  680	  					 */
/*===============================================*/
@media screen and (max-width: 680px) and (orientation: landscape) {
    .intro {
        padding: 10% 0 0 0;
    }

    .intro__title {
        font-size: 24px;
        line-height: 28px;
        padding: 0 0 5px 0;
    }

    .jumbotron.masthead {
        padding-top: 20% !important;
    }

    .intro__subtitle {
        font-size: 14px;
        padding: 0 2% 5px 2%;
        line-height: 18px;
    }
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.clearfix::after,
.calendar ol::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* ================
Calendar Styling */
.calendar {
    border-radius: 10px;
}

.month {
    font-size: 2rem;
}

@media (min-width: 992px) {
    .month {
        font-size: 3.5rem;
    }
}

.calendar ol li {
    float: left;
    width: 14.28571%;
}

.calendar .day-names {
    border-bottom: 1px solid #eee;
}

.calendar .day-names li {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.calendar .days li {
    border-bottom: 1px solid #eee;
    min-height: 8rem;
}

.calendar .days li .date {
    margin: 0.5rem 0;
}

.calendar .days li .event {
    font-size: 0.75rem;
    padding: 0.4rem;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4rem;
    margin-bottom: 1px;
}

.calendar .days li .event.span-2 {
    width: 200%;
}

.calendar .days li .event.begin {
    border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
    border-radius: 0 1rem 1rem 0;
}

.calendar .days li .event.clear {
    background: none;
}

.calendar .days li:nth-child(n+29) {
    border-bottom: none;
}

.calendar .days li.outside .date {
    color: #ddd;
}

/*==============================================================
	Calendar Start
==============================================================*/
.calendar-wrap{}
.calendar-wrap .fc-event.ui-draggable-handle{
    padding: 5px;
    margin-bottom: 5px;
}
.fc th{
    font-weight: 500;
    padding: 10px !important;
    background: #e1e1f5;
}
.fc-day-grid-event .fc-time{
    font-weight: 500 !important;
}
.fc-day-grid-event .fc-content{
    padding: 3px 9px;
}
.fc-header-toolbar h2{
    font-size: 24px;
}
/*==============================================================
	Calendar End
==============================================================*/

.card-body {
    border-radius: 30px !important;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}