<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                About US
            </div>
        </div>
    </div>
</section>
<br>
<div class='section section__grey' style="height: 40%" data-aos='fade-up'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-3 col-sm-12'></div>
            <div class='col-md-6 col-sm-12'>
                <h4>ENACT: The Educational Network for Active Civic Transformation is a national program engaging
                    undergraduates at colleges and universities in all 50 U.S. states in state-level legislative change
                    by learning to work with legislators, staffers, and community organizations to advance policy. It is
                    becoming a major voice in addressing challenges to American democracy by engaging young people
                    around the country in civic activism built on knowledge, cooperation, justice and integrity.</h4>
                <br>
                <h4>Learn more: <a href="https://www.brandeis.edu/ethics/ENACT/index.html">go.brandeis.edu/ENACT</a></h4>
                <h4>Contact ENACT: <a href = "mailto:enact@brandeis.edu">ENACT@brandeis.edu</a> or 781-736-8577
                    </h4>
                <h4>ENACT is a program of <a href = "https://www.brandeis.edu/ethics/">the International Center for Ethics, Justice and Public Life</a> at
                    <a href = "https://www.brandeis.edu/">Brandeis University.</a></h4>
            </div>
        </div>
    </div>
</div>

<%- include('../components/footer'); -%>
