<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                About US
            </div>
        </div>
    </div>
</section>

<!-- ENACT Program intro -->
<section class='section section__grey'>
    <br><br><br>
    <div class='section__content section__content--fluid-width section__content--padding--small'>


        <div class='clear'></div>
    </div>
</section>


<%- include('../components/footer'); -%>
