<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                About Us
            </div>
            <br>
            <div class='text-center' data-aos='fade-up' data-aos-delay="100">
                <a href='mailto:enact@brandeis.edu'><input type='button' name='submit'
                                                           class='btn btn-lg btn-outline-primary'
                                                           value='Contact Us to join ENACT'></a>
            </div>
        </div>
    </div>
</section>

<%- include('../components/footer'); -%>
