<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                ENACT
            </div>
            <br>
            <div class='section section__grey' data-aos='fade-up'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-md-3 col-sm-12'></div>
                        <div class='col-md-6 col-sm-12'>
                            <h5>The Educational Network for Active Civic Transformation (ENACT) is a national program engaging undergraduates at colleges and universities in all 50 U.S. states in state-level legislative change by learning to work with legislators, staffers, and community organizations to advance policy. It is becoming a major voice in addressing challenges to American democracy by engaging young people around the country in civic activism built on knowledge, cooperation, justice and integrity.</h5>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-3 col-sm-12'></div>
                    <div class='col-md-6 col-sm-12'>
                        <div class='text-center' data-aos='fade-up' data-aos-delay="100">
                            <a href="https://www.brandeis.edu/ethics/ENACT/index.html"><input type='button' name='submit'
                                                                       class='btn btn-lg btn-outline-primary'
                                                                       value='Learn More'></a>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <a href='mailto:enact@brandeis.edu'><input type='button' name='submit'
                                                                       class='btn btn-lg btn-outline-primary'
                                                                       value='Contact Us'></a>
                        </div>
                        </div>
                </div>

            </div>
        </div>
    </div>
</section>

<%- include('../components/footer'); -%>
