<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<% let days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %>
<script src="/js/map/usmap.js"></script>
<script src="/js/map/mapdata.js"></script>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Networking & People
            </div>
            <h4>ENACT faculty fellows, students and alumni have access to a national network of ENACT faculty, students
                and alumni, <br>and an <a href="https://www.linkedin.com/groups/8601882/">ENACT-only LinkedIn group</a>,
                for resource sharing and career advice. To access this network, log in.</h4>
        </div>
    </div>
</section>

<section class='section section__grey'>
    <div class='container'>
        <h3>Are you an alum of an ENACT course? Request membership in the <a
                    href="https://www.linkedin.com/groups/8601882/"> <span class="fa">&#xf08c;</span> ENACT-only LinkedIn
                group</a>.</h3>
        <div id="map"></div>
    </div>
</section>


<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        $('#map').usmap({-->
<!--            // The click action-->
<!--            click: function(event, data) {-->
<!--                $('#clicked-state')-->
<!--                    .text('You clicked: '+data.name)-->
<!--                    .parent().effect('highlight', {color: '#C7F464'}, 2000);-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->

<%- include('../components/footer'); -%>