<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<% let days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %>
<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Networking
            </div>
        </div>
    </div>
</section>

Under construction :-)

<%- include('../components/footer'); -%>