<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<script src="/js/searchComplete.js"></script>

<script src="/js/disableautofill.js"></script>
<script>
    $('input[autofill="off"]').disableAutoFill;
</script>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                SEARCH &#128269;
            </div>
            <h4>Click on search to see all available resources</h4>
        </div>
    </div>
</section>

<section class='section section__grey' data-aos='fade-up' style='height: 40%'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-2 col-sm-12'></div>
            <div class='col-md-8 col-sm-12'>
                <% if (loggedIn) { %>
                    <form method='post' action='/resources/search/private/general/results'>
                        <div class='input-group-prepend'>
                            <input autofill="off" autocomplete="off" id="resources" type='text' class='form-control' name='search'
                                   placeholder='Search for anything'>
                            &nbsp&nbsp&nbsp
                            <input type='submit' name='submit' class='btn btn-dark' value='Search'>
                            &nbsp&nbsp&nbsp
                            <a href='/resources/search/private/advanced' class='btn btn-large btn-warning'
                               style='width: 250px'>Search for Resources</a>
                        </div>
                    </form>
                <% } else { %>
                        <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
        </div>
    </div>
</section>

<%- include('../components/footer'); -%>