<%- include('../components/header'); -%>
<%- include('../components/navbar'); -%>

<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Find Resources
            </div>
            <h4>Please click on search directly to see all available resources</h4>
        </div>
    </div>
</section>


<section class='section section__grey' data-aos='fade-up' style='height: 30%'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-3 col-sm-12'></div>
            <div class='col-md-6 col-sm-12'>
                <% if (loggedIn) { %>
                    <form method='post' action='/resources/search/private/general/results'>
                        <div class='input-group-prepend'>
                            <input type='text' class='form-control' name='search'
                                   placeholder='Search for anything'>
                            &nbsp&nbsp&nbsp
                            <input type='submit' name='submit' class='btn btn-dark' value='Search'>
                            &nbsp&nbsp&nbsp
                            <a href='/resources/search/private/advanced' class='btn btn-large btn-warning' style='width: 300px'>Advanced Search</a>
                        </div>
                    </form>
                <% } else { %>
                    <%- include('../components/component-loginToView'); -%>
                <% } %>
            </div>
        </div>
    </div>
</section>

<%- include('../components/footer'); -%>