<%- include('../../components/header'); -%>
<%- include('../../components/navbar'); -%>

<section class='section'>
    <div class='section__content section__content--full-width'style="height: 300px">
        <div class='jumbotron masthead text-center' >
            <div class='section__title section__title--centered'>
                About US
            </div>
            <h3>“The most important office, and the one which all of us can and should fill, is that of private
                citizen.”
                <br> – Louis D. Brandeis</h3>
        </div>
    </div>
</section>

<!-- Section -->

<!-- ENACT Program intro -->
<section class='section section__grey'>
    <br><br>
    <div class='section__content section__content--fluid-width section__content--padding--small'>
        <h3 data-aos="fade-up" style="font-weight: 500"><b>MISSION</b></h3>
        <hr data-aos="fade-up">
        <p style="font-size: x-large" data-aos="fade-up">ENACT is a non-partisan program, based at <a href="https://www.brandeis.edu">Brandeis University</a>, addressing challenges to American
            democracy by engaging young people around the country in state-level legislative change based on a shared
            commitment to knowledge, cooperation, justice and integrity.</p>
        <br><br>
        <h3 data-aos="fade-up" style="font-weight: 500"><b>INTRO VIDEOS</b></h3>
        <hr data-aos="fade-up">
        <div class="grid--2col">
            <div class="grid__item">
                <h3 data-aos="fade-up" style="text-align: center; ">What is ENACT?</h3>
                <video style="width:600px; height: 400px;"  controls>
                    <source src="https://enact-resources.s3.us-east-2.amazonaws.com/ENACT+Updated+Video+2.mp4" type="video/mp4">
                </video>
            </div>
            <div class="grid__item">
                <h3 data-aos="fade-up" style="text-align: center; ">A Brief Tour of enactnetwork.org</h3>
                <video style="width:600px; height: 400px;" poster="/images/introVideo.png" controls>
                    <source src="https://enact-resources.s3.us-east-2.amazonaws.com/Getting+to+Know+Enact+(With+Captions).mp4" type="video/mp4">
                </video>
            </div>
        </div>

        <br><br><br>
        <h3 data-aos="fade-up" style="font-weight: 500"><b>ABOUT</b></h3>
        <hr data-aos="fade-up">
        <p style="font-size: x-large" data-aos="fade-up">
            Is government dysfunctional? Can change come through the legislative process?

            Brandeis University namesake Louis D. Brandeis suggested that the states can be “laboratories of democracy.”
            ENACT: The Educational Network for Active Civic Transformation, a national program based at Brandeis
            University’s <a href="https://www.brandeis.edu/ethics/">International Center for Ethics, Justice and Public
                Life</a>, takes inspiration in part from that idea.
            <br> <br>
            At the core of ENACT are courses taught by <a href="/profiles/view/faculty"> ENACT Faculty Fellows</a> at
            colleges and universities across the country, supported by a national in-person and online network
            connecting the faculty and staff in those courses with each other.
            Students learn through direct engagement in the work of advancing legislation: researching the issues being
            debated, meeting with community organizations, and traveling to the state capital to meet with legislators.
            They develop sophisticated understandings of the political domain, learn to distill political information,
            and acquire political efficacy. Many ENACT alumni go on to pursue public service and public office.
            <br> <br>
            Participating schools represent a diverse range of higher education institutions. They are linked through an
            online network that enhances student learning, connects them with people active in the field, and provides
            an opportunity for ENACT faculty and students to inspire and instruct others who are committed to engaging
            in effective, ethical state-level legislative change.
        </p>
        <br><br>
        <h3 data-aos="fade-up" style="font-weight: 500"><b>THE ENACT MODEL</b></h3>
        <hr data-aos="fade-up">
        <p style="font-size: x-large" data-aos="fade-up"><b>- Workshop:</b> Under the leadership of the program’s
            academic
            director, ENACT
            Fellows meet in person to
            share ideas and work on course development. In-person and virtual meetings continue on an ongoing basis.
            <br><br>
            <b>- Courses:</b> In ENACT courses undergraduates learn about the legislative process
            at the state level,
            with a
            substantial hands-on component in which they engage directly in that process. ENACT courses take many forms,
            depending on the expertise of the faculty member, the composition of the student body, and the nature of
            access
            to the state capital. The ENACT course at Brandeis University offers one model, but ENACT fellows bring
            their
            own creativity and innovation to their courses. See the full list of <a href="https://www.brandeis.edu/ethics/enact/people/faculty-fellows.html ">ENACT schools.</a>
            <br><br>
            <b>- Online Network:</b> The enactnetwork.org digital resource sharing platform is a
            key component of the
            ENACT
            Network, a national in-person and online network of students, faculty, activists and legislators. It is a
            strategic and information hub for students, ENACT Faculty Fellows, and other state-level players that
            enables
            them to connect with counterparts throughout the country, share resources and collaborate.
            <br><br>
            <b>- Other Initiatives:</b> ENACT supports pilot projects and other initiatives
            related to its mission. For
            example, in 2019-20 ENACT partnered with the Heller School for Social Policy and Management to pilot the
            <a href="https://www.brandeis.edu/ethics/ENACT/enactlabornetwork.html">ENACT Labor Network</a>. Faculty
            members and students in four states focused specifically on labor legislation on a
            year-round basis with support from the <a href="https://www.brandeis.edu/legacy-fund/">Louis D. Brandeis
                Legacy Fund for Social Justice</a>.
        </p>
        <br><br>

        <h3 data-aos="fade-up" style="font-weight: 500"><b>HOW TO CONNECT</b></h3>
        <hr data-aos="fade-up">
        <p style="font-size: x-large" data-aos="fade-up">Join our mailing list for news and updates: email request to <a
                    href="mailto:ENACT@brandeis.edu"></a>ENACT@brandeis.edu
            <br>
            - Follow us on Twitter: <a href="https://twitter.com/enactnational">@ENACTnational</a>
            <br>
            - Explore resources at <a href="https://www.ENACTnetwork.org">www.ENACTnetwork.org</a>
            <br>
            - Visit <a href="https://www.ENACTnetwork.org">go.brandeis.edu/ENACT</a>
        </p>
        <br><br>
        <h3 data-aos="fade-up" style="font-weight: 500"><b>FUNDERS</b></h3>
        <hr data-aos="fade-up">
        <p style="font-size: x-large" data-aos="fade-up">ENACT was made possible by a generous gift from International
            Center for Ethics,
            Justice and Public Life Board member Norbert Weissberg and his wife, former Board member Judith Schneider.
            ENACT has also received support from the Rice Family Foundation, and from Ethics Center Board member Mark
            Friedman. In 2019, ENACT was awarded a multi-year grant from the Teagle Foundation’s “Education for American
            Civic Life” initiative.
        </p>

        <br><br>
        <h3 data-aos="fade-up" style="font-weight: 500"><b>HISTORY</b></h3>
        <hr data-aos="fade-up">
        <p style="font-size: x-large" data-aos="fade-up">In the spring semester of the 2009-10 academic year, Melissa
            Stimell, Professor of the Practice in Legal Studies
            at Brandeis University embarked on an experiment with 13 dedicated Brandeis University undergraduate
            students
            and the logistical, financial and intellectual support of the International Center for Ethics, Justice and
            Public Life, and the Legal Studies Program at Brandeis University.
            <br> <br>
            Together they created “Advocacy for Policy Change,” a course, that combines an investigation of the ethical
            dilemmas that arise in the process of lawmaking with hands-on advocacy work at the state level. Students are
            encouraged to think deeply about the complexities of shaping laws for constituents who hold diverse
            viewpoints
            about what is right and good for society and how best to progress through the legislative process. Students
            choose existing laws they feel could be credibly challenged on ethical or moral grounds, and advocate for
            state
            legislative change. The course soon developed into a wider initiative at Brandeis.
            <br> <br>
            In 2015 a generous gift from International Center for Ethics, Justice and Public Life Board member Norbert
            Weissberg and his wife, former Board member Judith Schneider, enabled the national expansion of this course.
            This new program, <a href="https://www.brandeis.edu/ethics/ENACT/index.html">ENACT: The Educational Network
                for
                Active Civic Transformation</a>, built upon the original vision
            for the Center, which was inspired and supported by Abraham Feinberg, the father of Judith Schneider.

            ENACT is non-partisan and hands-on: student teams research their chosen issues and design and implement
            models
            of legislative activity. Students choose existing laws they can challenge on policy, legal or moral grounds,
            or
            proposed laws that redress perceived wrongs. Students work with a legislative mentor and/or a member of an
            advocacy organization, and strive to effect social change.
            <br> <br>
            Brandeis has now helped to launch programs in <a
                    href="https://www.brandeis.edu/ethics/ENACT/ENACTschools.html">colleges
                and universities located in or near state capitals across
                the United States</a>, and has built a national network of students, faculty, activists and legislators.
            <br> <br>
            The Educational Network for Active Civic Transformation has become a strategic and information hub – a needed
            resource for state-level players ­– that enables participants to connect with counterparts throughout the
            country.

            Many programs and networks feature advocacy efforts based on single issues, while others target federal
            policy.
            The Educational Network for Active Civic Transformation is a distinctive effort to link together state-level
            advocacy on a national scale.

            It is a flagship program for stimulating young people to acquire the type of personal interaction that will
            inspire them to adopt University namesake Justice Brandeis’s belief that “the most important political
            office is
            that of private citizen.”
        </p>
    </div>
</section>

<section class='section diagonal-gradient'>
    <div class='section__content section__content--fluid-width section__content--padding'>
        <h2 class='section__title section__title--centered' style="color: whitesmoke">ENACT Staff</h2><br>

        <div class='grid grid--4col'>

            <div class='partners__slide grid__item' style='height: 725px' data-aos="fade-up">
                <div class='card-body' style='border-radius: 30px'>
                    <img class='d-flex'
                         src='/images/PhotoForAbout/stimell.jpeg'
                         alt='1'
                         style='width: 100%; height: 250px; object-fit: contain;'>
                    <br>
                    <h3 style='text-align: center'>Melissa Stimell</h3>
                    <h5 style='text-align: center'>Academic Program Director</h5>
                    <hr>
                    <p style="font-size: larger">Melissa Stimell is a Professor of the Practice in the Legal Studies
                        Program at Brandeis University, and Director of the International Center for Ethics, Justice and
                        Public Life.
                    </p>
                    <br>
                </div>
            </div>

            <div class='partners__slide grid__item' style='height: 725px' data-aos="fade-up" data-aos-delay="200">
                <div class='card-body' style='border-radius: 30px'>
                    <img class='d-flex mr-3' src='https://www.brandeis.edu/ethics/images/staff/weinstein-david.jpg'
                         alt='David J. Weinstein'
                         style='width: 100%; height: 250px; object-fit: contain;'>
                    <br>
                    <h3 style='text-align: center'>David J. Weinstein</h3>
                    <h5 style='text-align: center'>Assistant Director</h5>
                    <hr>
                    <p style="font-size: larger">David Weinstein is Assistant Director of ENACT and Communications for
                        the International Center for Ethics, Justice and Public Life at Brandeis University.</p>
                    <br>
                </div>
            </div>

            <div class='partners__slide grid__item' style='height: 725px' data-aos="fade-up" data-aos-delay="400">
                <div class='card-body' style='border-radius: 30px'>
                    <img class='d-flex mr-3'
                         src='https://malegislature.gov/Legislators/Profile/170/JRK1.jpg'
                         alt='Jay Kaufman'
                         style='width: 100%; height: 250px; object-fit: contain'>
                    <br>
                    <h3 style='text-align: center'>Jay Kaufman</h3>
                    <h5 style='text-align: center'>Distinguished Legislative Mentor</h5>
                    <hr>
                    <p style="font-size: large">Jay R. Kaufman served in the Massachusetts House of Representatives from 1995 through 2018, and is capping a career in leadership education by
                        launching a new non-profit organization to provide leadership education, mentoring, and professional development support.</p>
                    <br>
                </div>
            </div>

            <div class='partners__slide grid__item' style='height: 725px' data-aos="fade-up" data-aos-delay="600">
                <div class='card-body' style='border-radius: 30px'>
                    <img class='d-flex mr-3'
                         src='https://honors.umaine.edu/wp-content/uploads/sites/184/2016/04/Screen-Shot-2020-05-29-at-4.12.50-PM.png'
                         alt='Rob Glover'
                         style='width: 100%; height: 250px; object-fit: contain'>
                    <br>
                    <h3 style='text-align: center'>Rob Glover</h3>
                    <h5 style='text-align: center'>Fellow for Course Resources</h5>
                    <hr>
                    <p style="font-size: larger">Robert W. Glover is an Associate Professor of Political Science and Honors, a joint appointment in the Department of Political Science and the Honors
                        College at the University of Maine. </p>
                    <br>
                </div>
            </div>
        </div>

        <div class='partners__pagination'></div>
        <div class='clear'></div>
        <br>
        <br>
        <br>
        <br>
        <h2 class='section__title section__title--centered' style="color: whitesmoke">ENACT Digital Platform Staff</h2>

        <br>
        <div class='grid grid--3col'>
            <div class='partners__slide grid__item' style='height: 525px' data-aos="fade-up" data-aos-delay="200">
                <div class='card-body' style='border-radius: 30px'>
                    <img class='d-flex mr-3'
                         src='https://avatars.githubusercontent.com/u/195879?v=4'
                         alt='Timothy J. Hickey'
                         style='width: 100%; height: 100px; object-fit: contain'>
                    <br>
                    <h4 style='text-align: center'>Timothy J. Hickey</h4>
                    <h5 style='text-align: center'>Technology Advisor (2020.5 - Present)</h5>
                    <hr>
                    <p style="font-size: larger">Timothy J. Hickey is a Professor of Computer Science and Chair of
                        Computer Science at Brandeis University. </p>
                    <br>
                </div>
            </div>
            <div class='partners__slide grid__item' style='height: 525px' data-aos="fade-up" data-aos-delay="400">
                <div class='card-body' style='border-radius: 30px'>
                    <img class='d-flex'
                         src='/images/PhotoForAbout/HanyuDu.jpeg'
                         alt='Hangyu Du'
                         style='width: 100%; height: 100px; object-fit: contain;'>
                    <br>
                    <h4 style='text-align: center'>Hangyu Du</h4>
                    <h5 style='text-align: center'>Software Developer (2020.5 - 2021.4)</h5>
                    <hr>
                    <p style="font-size: larger">Hangyu Du is one of the core developers of this digital platform. He is a fan of machine learning.
                        He also enjoys coding and creating end-to-end user-interface programs from scratch.
                    </p>
                    <br>
                </div>
            </div>
            <div class='partners__slide grid__item' style='height: 525px' data-aos="fade-up" data-aos-delay="600">
                <div class='card-body' style='border-radius: 30px'>
                    <img class='d-flex mr-3'
                         src='/images/PhotoForAbout/HuiyanZhang.jpeg'
                         alt='Huiyan Zhang'
                         style='width: 100%; height: 100px; object-fit: contain;'>
                    <br>
                    <h4 style='text-align: center'>Huiyan Zhang</h4>
                    <h5 style='text-align: center'>Software Developer (2020.5 - 2021.1)</h5>
                    <hr>
                    <p style="font-size: larger">Huiyan Zhang is one of the core developers of this platform. She developed several core functions.</p>
                    <br>
                </div>
            </div>
        </div>

        <div class='partners__pagination'></div>
        <div class='clear'></div>
        <br><br><br><br>



        <div class='grid grid--3col'>
            <div class='partners__slide grid__item' style='height: 525px' data-aos="fade-up" data-aos-delay="800">
                <div class='card-body' style='border-radius: 30px'>
                    <img class='d-flex mr-3'
                         src='/images/PhotoForAbout/ElainaPevide.jpeg'
                         alt='Elaina Pevide'
                         style='width: 100%; height: 100px; object-fit: contain'>
                    <br>
                    <h4 style='text-align: center'>Elaina Pevide</h4>
                    <h5 style='text-align: center'>Student Delegate (2020.5 - Present)</h5>
                    <hr>
                    <p style="font-size: larger">Elaina Pevide is the ENACT student delegate.</p>
                    <br>
                </div>
            </div>
            <div class='partners__slide grid__item' style='height: 525px' data-aos="fade-up" data-aos-delay="0">
                <div class='card-body' style='border-radius: 30px'>
                    <img class='d-flex mr-3'
                         src='/images/PhotoForAbout/EmilyFishman.jpeg'
                         alt='Emily Fishman'
                         style='width: 100%; height: 100px; object-fit: contain'>
                    <br>
                    <h4 style='text-align: center'>Emily Fishman</h4>
                    <h5 style='text-align: center'>Resource Support (2020.10 - Present)</h5>
                    <hr>
                    <p style="font-size: larger">Emily Fishman provides resource support for the ENACT platform. She participated in the ENACT
                        course at Brandeis University in Spring 2020. Emily is interested in global health and health
                        policy.</p>
                    <br>
                </div>
            </div>

            <div class='partners__slide grid__item' style='height: 525px' data-aos="fade-up" data-aos-delay="200">
                <div class='card-body' style='border-radius: 30px'>
                    <img class='d-flex'
                         src='/images/PhotoForAbout/BeneeHershon.jpeg'
                         alt='Benée Hershon'
                         style='width: 100%; height: 100px; object-fit: contain;'>
                    <br>
                    <h4 style='text-align: center'>Benée Hershon</h4>
                    <h5 style='text-align: center'>Resource Support (2020.10 - Present)</h5>
                    <hr>
                    <p style="font-size: larger">Benée Hershon is resource support for this platform. Benée participated in the ENACT course at
                        Brandeis University in Spring 2020. She currently works in the Sustainable Agriculture field and
                        is interested in environmental policy.
                    </p>
                    <br>
                </div>
            </div>

        </div>

        <div class='partners__pagination'></div>
        <div class='clear'></div>
        <br><br><br><br>

        <div class='grid grid--3col'>
            <div class='partners__slide grid__item' style='height: 525px' data-aos="fade-up" data-aos-delay="400">
                <div class='card-body' style='border-radius: 30px'>
                    <img class='d-flex'
                         src='/images/PhotoForAbout/LouisePei.png'
                         alt='Louise Pei'
                         style='width: 100%; height: 100px; object-fit: contain;'>
                    <br>
                    <h4 style='text-align: center'>Louise Pei</h4>
                    <h5 style='text-align: center'>Software Developer (2021.1 - present)</h5>
                    <hr>
                    <p style="font-size: larger">Louise Pei is one of the core developers of this digital platform. Louise loves website development, and has helped with website maintenance. </p>
                    <br>
                </div>
            </div>
            <div class='partners__slide grid__item' style='height: 525px' data-aos="fade-up" data-aos-delay="600">
                <div class='card-body' style='border-radius: 30px'>
                    <img class='d-flex mr-3'
                         src='/images/PhotoForAbout/AaronPortman.jpeg'
                         alt='Aaron Portman'
                         style='width: 100%; height: 100px; object-fit: contain;'>
                    <br>
                    <h4 style='text-align: center'>Aaron Portman</h4>
                    <h5 style='text-align: center'>Software Developer (2021.4 - 2021.7)</h5>
                    <hr>
                    <p style="font-size: larger">Aaron Portman is the student developer of this platform.</p>
                    <br>
                </div>
            </div>
            <div class='partners__slide grid__item' style='height: 525px' data-aos="fade-up" data-aos-delay="600">
                <div class='card-body' style='border-radius: 30px'>
                    <img class='d-flex mr-3'
                         src='/images/PhotoForAbout/BishalBaral.png'
                         alt='Aaron Portman'
                         style='width: 100%; height: 100px; object-fit: contain;'>
                    <br>
                    <h4 style='text-align: center'>Bishal Baral</h4>
                    <h5 style='text-align: center'>Software Developer (2021.12 - present)</h5>
                    <hr>
                    <p style="font-size: larger">Bishal is one of the core developers of this platform. He enjoys building software and writing efficient programs.</p>
                    <br>
                </div>
            </div>

        </div>


        <div class='partners__pagination'></div>
        <div class='clear'></div>
    </div>
</section>


<%- include('../../components/footer'); -%>
