<%- include('../../components/header'); -%>
<%- include('../../components/navbar'); -%>


<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                How to create a new account
            </div>
        </div>
    </div>
</section>
<br>
<div class='section section__grey' data-aos='fade-up'>
    <div class='container'>
                    <br>
                    <h3>Create an Account & Profile</h3>
                    <hr>
                    <video style="width: 100%" poster="/images/accountCreation.png" controls>
                        <source src="https://enact-resources.s3.us-east-2.amazonaws.com/Create+an+Account+and+Profile+(with+captions).mp4" type="video/mp4">
                    </video>
                    <br>
                    <br>
                </div>
            </div>
    </div>
</div>

<%- include('../../components/footer'); -%>