<%- include('../../components/header'); -%>
<%- include('../../components/navbar'); -%>


<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Contact Us
            </div>
        </div>
    </div>
</section>
<br>
<div class='section section__grey' data-aos='fade-up'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-2 col-sm-12'></div>
            <div class='col-md-8 col-sm-12'>
                <h2>ENACT program contact</h2>
                <hr>

                <p style="font-size: 20px">
                    For <b> technical assistance and general inquiries</b>, please email: <a href="mailto:enact@brandeis.edu">enact@brandeis.edu</a>
                    <br>
                    For more information about ENACT, checkout at:
                    <a href="https://www.brandeis.edu/ethics/ENACT">https://www.brandeis.edu/ethics/ENACT</a>
                </p>
                <br>

                <h2>Melissa Stimell</h2>
                <hr>

                <p style="font-size: 20px">Melissa Stimell is a Professor of the Practice in the Legal Studies
                    Program at Brandeis University, and Director of the International Center for Ethics, Justice
                    and Public Life.<br>
                    Email: <a href="mailto:stimell@brandeis.edu">stimell@brandeis.edu</a>
                </p>
                <br>


                <h2>David J. Weinstein</h2>
                <hr>

                <p style="font-size: 20px">David Weinstein is Assistant Director of ENACT and Communications for the
                    Ethics Center. <br>
                    Email: <a href="mailto:djw@brandeis.edu">djw@brandeis.edu</a><br>
                    Number: 781-736-2115
                </p>
            </div>
        </div>
    </div>
</div>

<%- include('../../components/footer'); -%>