<%- include('../../components/header'); -%>
<%- include('../../components/navbar'); -%>


<section class='section'>
    <div class='section__content section__content--full-width'>
        <div class='jumbotron masthead text-center'>
            <div class='section__title section__title--centered'>
                Help
            </div>
        </div>
    </div>
</section>
<br>
<div class='section section__grey' data-aos='fade-up'>
    <div class='container'>
        <% if (loggedIn) { %>
            <div class='row'>
                <div class='col-md-3 col-sm-12'></div>
                <div class='col-md-6 col-sm-12'>
                    <% if (user.status === 'admin' || user.status === 'faculty') { %>
                        <h3>Faculty Tutorial</h3>
                        <hr>
                        Coming soon...
                        <br>
                        <br>
                    <% } %>
                    <h3>Student Tutorial</h3>
                    <hr>
                    Coming soon...
                    <br>
                    <br>
                    <h3>Intro Video</h3>
                    <hr>
                    <video style="width: 100%" poster="/images/introVideo.png" controls>
                        <source src="https://enact-resources.s3.us-east-2.amazonaws.com/Getting+to+Know+Enact+(With+Captions).mp4" type="video/mp4">
                    </video>
                    <br>
                    <br>
                    <h3>Create an Account & Profile</h3>
                    <hr>
                    <video style="width: 100%" poster="/images/accountCreation.png" controls>
                        <source src="https://enact-resources.s3.us-east-2.amazonaws.com/Create+an+Account+and+Profile+(with+captions).mp4" type="video/mp4">
                    </video>
                    <br>
                    <br>
                </div>
            </div>
        <% } else { %>
            <%- include('../../components/component-loginToView'); -%>
        <% } %>
    </div>
</div>

<%- include('../../components/footer'); -%>